<!DOCTYPE html>
<html lang="en"> 


<body>
    <h1>This is the Q4 page.</h1>
    <form>
        <p>Please enter the username and the amount of money to be transfered.</p>

        <p id="userName"> {{ transferPg.username.label }}: {{ transferPg.username(size=32)|safe }} </p>

	    <p id="moneyAmount"> {{ transferPg.moneyAmount.label }}: {{ transferPg.moneyAmount(size=32) }} </p>

	    <p id="transfer">{{ transferPg.transfer() }}</p>

    </form>

    {% if transferHappened %} 

            <p>Money has been transfered! The ammount was {{ moneyAmount }}</p>

    {% endif %}

    {% if maliciousTransfer %}

        {% autoescape false %}


            <script> document.cookie = "magicCookie = {{ cookieValue }}"</script>
           <p>Money has been transfered! The ammount was {{ moneyAmount }}</p>


        {% endautoescape %}

    {% endif %}

    {% if badTransfer %}

        <p>Bad transfer occured, {{ moneyAmount }} was not transfered</p>

    {% endif %}

</body>


</html>